html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

nav ul {
	list-style:none;
}

img {
	max-width: 100%;
	display: block;
}

body {
	width: 100%;
	margin: 0 auto;
	font-family: arial, sans-serif;
	background: url('../images/background.png') no-repeat center top;
	background-size: 100%;
	position: relative;
}

#nav-next {
	background: url("../images/right-arrow.png") no-repeat right 60px;
	background-size: 10%;
	-moz-transition: background-size .5s ease-in;
	-web-kit-transition: background-size .5s ease-in;
	transition: background-size .5s ease-in;
	margin-top: -20px;
	right: 0;
	position: absolute;
	top: 0;
	height: 100%;
}

#nav-prev {
	background: url("../images/left-arrow.png") no-repeat left 60px;
	background-size: 10%;
	-moz-transition: background-size .5s ease-in;
	-web-kit-transition: background-size .5s ease-in;
	transition: background-size .5s ease-in;
	margin-top: -20px;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}

a {
	display: block;
	width: 30%;
}

#nav-prev:hover, #nav-next:hover {
	background-size: 15%;
	-moz-transition: background-size .2s ease-in;
	-web-kit-transition: background-size .2s ease-in;
	transition: background-size .2s ease-in;
}

span {
	display: none;
}

#slide {
	padding: 10px;
}

h1 {
	font-size: .8em;
	text-align: center;
	padding: .81967213%;
}

h2 {
	font-size: 1.5em;
	text-align: center;
}

.slideImage, .slideText {
	width: 93.75%;
	margin: 0 auto;
}

.slideText p {
	padding: 2.45901639%;
}

.slideText {
	font-size: 1em;
}

footer {
	font-size: .8em;
	text-align: center;
}

@media screen and (min-width: 360px) {
	body {
		background-size: 320px;
	}

}

@media screen and (min-width: 769px) {
	body {
		background: none;
	}

	#slide {
		width: 98.18032787%;
		float: left;
		padding: .81967213%;
	}

	.slideText {
		background: url('../images/background.png');
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center top;
		background-size: 100%;
		width: 32.786885%;
		float: left;
	}
	
	.slideText p {
		padding: 2.45901639%;
	}

	.slideImage {
		width: 65.57377%;
		height: 49.1803275%;
		float: right;
	}

	h1, footer {
		text-align: left;
		padding: .81967213%;
	}

	#nav-next{
		background-position: right 200px;
	}

	#nav-prev{
		background-position: left 200px;
	}

}

@media screen and (min-width: 1025px) {
	body {
		max-width: 1220px;
	}

	.slideText {
		background-size: 320px;
	}

	#nav-next{
		background-position: right 250px;
	}

	#nav-prev{
		background-position: left 250px;
	}
}

